.lista{
  color:white;
  width: 50%;
  border-radius: 5px;
  margin-top: 20px;
  list-style: none;
  background-color: rgb(24, 0, 70);
  
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
/********* navbar ************/
.navbar{
  background: #000000; 
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000) !important;  
}
 .nav-link {
   color: white !important;
 }
 
/******* item detail ********/
.imagen-detail {
  margin-top: 2rem;
  width: 40%;
  height: 25%;
  display: inline-block;
}

.imagen-detail:hover {
  opacity: 0.98;
}

.detail-content {
  margin-top: 2rem;
}

.counter-detail {
  margin-top: 2rem;
}

.discount-before{
  text-decoration: line-through;
  font-size: 13px;
}

.text-greeting {

  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem;
}

.span-icon{
  color: black;
  font-size: 15px;
  font-weight: 400;
}

.card-image:hover {
  opacity: 0.9;
}

.item-detail{
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  width: 50%;
}

/*****FOOTER******/
 .footer {
   margin-top: 1rem;
   background: black;
   color: rgb(189, 188, 188);
   padding: 3rem;
 }

 .footer a {
   text-decoration: none;
   color: rgb(189, 188, 188);
 }

 .footer p {
   margin-top: 0;
 }
/******** EMPTY CART *********/
 .empty-cart{
  background-image: url(https://res.cloudinary.com/druj3xeao/image/upload/v1619754745/React-img/img-react-coder/videoblocks-elegant-man-clothes-concept-set-of-black-wardobe-and-accessories-for-official-party-or-evening-meeting-placed-on-black-backgound-with-shirt-shoes-watch-bow-tie-top-view-flat-lay-w_rnldrn.png);
  background-repeat: no-repeat;
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .btn-empty-cart{
    background: transparent;
    width: auto;
    height: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem 5rem; 
    opacity: 0.95;
  }

  /********** buy end *************/

  .background-end{
    background-image: url(https://res.cloudinary.com/druj3xeao/image/upload/c_scale,w_1280/v1619836769/React-img/img-react-coder/wp3376810-man-in-suit-wallpaper_kapo9v.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .text-end{
    font-family:'Tangerine', serif;
    font-size: 70px;
    color: black;
    display: inline-block;
    margin-top: 3rem;
    margin-left: 1rem;
  }

  .link-end{
    background: transparent;
    color: #FFFFFF;
    display: block;
    margin-top: 3rem;
    margin-left: 5rem;
    width: 10rem;
  }
 